/* Estilos de pagina de viajes 
*{
    outline: solid black;
}
*/
body { /* Selección de body */
font-family:Arial, sans-serif ; /* Cambia tipografia */
margin: 0; /* Elimina todo el margen por defecto */
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Aca viene el estilo de una clase container */
.container{
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}
/* Estilo de encabezado */
header{
    background-color: #333; /* Establece el color de fondo */
    color: #fff; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}

header h1{
    margin: 0; /* elimina el margen por defecto del titulo */
}
/* Estilo de elemento de lista */
nav ul li{
    display: inline; /* Alinea los elementos */
    margin-right: 20px; /* Margen hacia la derecha */
}
/* Estilo a elementos de vinculo ancla de navegación */
nav ul li a{
    color: #fff; /* Color a elemento Anchor */
    text-decoration: none; /* Quita subrayado de enlace */
}